@import "tailwindcss";


body, section{
    font-family: 'poppins' ,sans-serif;
    background-color: #eaf0f9d6;
}
ul li{
    font-size: medium;
    font-weight: 400;
}

h2{
    font-weight: 600;
}
p{
    font-size: 14px;
    font-family: 'poppins' ,sans-serif;
}