@import "tailwindcss";


body{
    font-family: 'poppins' ,sans-serif;
    /* background-color: #d7d6d6; */
}
ul li{
    font-size: medium;
    font-weight: 400;
    /* font-family: sans-serif; */
    /* cursor: pointer; */
}

/* ul li:hover{
    border-bottom: 3px solid black;
} */

h2{
    font-weight: 600;
}
p{
    font-size: 14px;
    font-family: 'poppins' ,sans-serif;
}
section{
    /* background-color: #0D1B2A; */
    background-color: #eaf0f9d6;
}